name: Build and release

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - "**"

jobs:

  build-release:
    uses: matter-labs/era-compiler-ci/.github/workflows/solc-build-release.yml@solc-latest
    secrets: inherit
